# Emacs
*~
#*
*#
.#*

#Mac OS
.DS_Store

# Project-specific files
advanced_comparison.json
an_actual_diff.json
example.log
for_comparison.json
log_lines.json
severity_index.json
totals.json
totals.txt